.containerHome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.basicInform {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.welcome {
    margin: 20px;
    margin-bottom: 40px;
}

.dialogContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}